<div class="container ml-3">
  
  <h3 class='dashboard-sidebar-line mt-2'>受注管理</h3>
  <div class="d-flex flex-column">
    <label class="sidebar-category-label">
      <%= link_to "受注一覧", dashboard_orders_path %>
    </label> 
  </div>
  
  <h3 class='dashboard-sidebar-line mt-2'>商品管理</h3>
  <div class="d-flex flex-column">
    <label class="sidebar-category-label">
      <%= link_to '商品一覧', dashboard_products_path %>
    </label>
    <label class="sidebar-category-label">
      <%= link_to '親カテゴリ管理', dashboard_major_categories_path %>
    </label>
    <label class="sidebar-category-label">
      <%= link_to "カテゴリ管理", dashboard_categories_path %>
    </label>
    <label class="sidebar-category-label">
      <%= link_to "CSV一括登録", import_csv_dashboard_products_path %>
    </label>
  </div>
  
  <h3 class='dashboard-sidebar-line mt-2'>顧客管理</h3>
  <div class="d-flex flex-column">
    <label class="sidebar-category-label">
      <%= link_to '顧客一覧', dashboard_users_path %>
    </label>
  </div>
  
  <hr/>
  <% if admin_signed_in? %>
   <div class="d-flex flex-column">
      <label><%= link_to "ログアウト", destroy_admin_session_path, class: 'btn category-button', method: :delete %></label>
   </div>
  <% end %>
  
</div>