<%# 会員情報編集画面 /users/mypage/edit %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-6 col-10">
      <span class='pankuzu'>
        <%= link_to "マイページ", mypage_users_path, class: 'item-text text-decoration-none' %> > 会員情報の編集
      </span>
      
      <h1 class="title-text mt-5 mb-3">会員情報の編集</h1>
      <hr>
      
      <%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :name, "氏名", class: "text-md-left" %>
            <span onclick="switchEditUserInfo('.userName', '.editUserName', '.userNameEditLabel');" class="userNameEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userName">
            <h3><%= @user.name %></h3>
          </div>
          
          
          <div class="collapse editUserName">
            <%=
              f.text_field :name,
              class: "form-control #{"is-invalid" if @user.errors.messages[:name].present? }",
              value: @user.name,
              autofocus: true,
              required: "",
              autocomplete: "name",
              placeholder: "名前を入力"
            %>
            
            <%= f.submit "保存", class: "btn submit-button mt-2 py-1" %>
            
            <% if @user.errors.messages[:name].present? %>
            <span class="error-message">
              <strong>氏名を入力してください</strong>
            </span>
            <% end %>
          </div>
        </div>
        
        <hr>
        
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :email, "メールアドレス", class: "text-md-left" %>
            <span onclick="switchEditUserInfo('.userMail', '.editUserMail', '.userMailEditLabel');" class="userMailEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userMail">
            <h3><%= @user.email %></h3>
          </div>
          <div class="collapse editUserMail">
            <%=
              f.email_field :email,
              class: "form-control #{"is-invalid" if @user.errors.messages[:email].present? }",
              autofocus: "true",
              required: "",
              value: @user.email,
              autocomplete: "email",
              placeholder: "メールアドレスを入力"
            %>

            <%= f.submit "保存", class: "btn submit-button mt-3 py-1" %>

            <% if @user.errors.messages[:email].present? %>
            <span class="invalid-feedback" role="alert">
              <strong>メールアドレスを入力してください</strong>
            </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :phone, "電話番号", class: "text-md-left" %>
            <span onclick="switchEditUserInfo('.userPhone', '.editUserPhone', '.userPhoneEditLabel');" class="userPhoneEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userPhone">
            <h3><%= @user.phone %></h3>
          </div>

          
          <div class="collapse editUserPhone">
          <%= 
            f.text_field :phone,
            class: "form-control #{"is-invalid" if @user.errors.messages[:phone].present? }",
            value: @user.phone,
            autocomplete: "phone",
            placeholder: "XXX-XXXX-XXXX"
          %>

          <%= f.submit "保存", class: "btn submit-button mt-3 py-1" %>

          <% if @user.errors.messages[:phone].present? %>
          <span class="invalid-feedback" role="alert">
            <strong>電話番号を入力してください</strong>
          </span>
          <% end %>
        </div>
      </div>

      <hr>

      <% end %>
      
      <div class="d-flex justify-content-end">
        <%= form_with model: @user, url: mypage_delete_users_path, method: :delete, local: true do |f| %>
        <%# DELETE	/users/mypage/delete  users#destroy %>
          <div class="btn dashboard-delete-link" data-toggle="modal" data-target="#delete-user-confirm-modal">退会する</div>
            
            <div class="modal fade" id="delete-user-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><label>本当に退会しますか？</label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-center">一度退会するとデータはすべて削除され復旧はできません。</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn dashboard-delete-link" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn danger-submit-button">退会する</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>


<script type="text/javascript">
  let switchEditUserInfo = (textClass, inputClass, labelClass) => {
    if ($(textClass).css('display') == 'block') {   // .textClassが block要素なら
        $(labelClass).text("キャンセル");           // ボタンを[キャンセル]に変更
        $(textClass).collapse('hide');              // 氏名表示エリアを非表示
        $(inputClass).collapse('show');             // 氏名編集フォームエリアを表示
    } else {
        $(labelClass).text("編集");                 // ボタンが[編集]の場合は
        $(textClass).collapse('show');              // 氏名表示エリアを表示
        $(inputClass).collapse('hide');             // 氏名編集フォームエリアを非表示
    }
  }
</script>
