<div class="container d-flex justify-content-center mt-3 favorite-container">
  <div class="favorite-area">
    <h2 class='favorite-title'><span class="big-heart"></span>お気に入り</h2>

    <hr>

    <div class="row">
      <% @favorites.each do |favorite| %>
        <div class="mt-2 mb-3 favorite-image-area">
          <div class="d-inline-flex">
            <%= link_to product_path(favorite), class: "row text-decoration-none" do %>
              <%# product_path(favorite) :products#show(@user.likees(Product)) 商品詳細ページへ %>
              <div>
                <% if favorite.image.attached? %>
                  <%#= image_tag favorite.image.variant(resize: "140x80^", gravity: "center"), class: "img-fluid rounded favorite-resize" %>
                  <%= image_tag favorite.image, class: "img-fluid rounded favorite-resize" %>
                <% else %>
                  <%= image_tag "/images/dummy.png", class: "img-fluid rounded favorite-resize-dummy" %>
                <% end %>
              </div>
              <div class="favorite-text">
                <h5><%= favorite.name %></h5>
                <h6>￥<%= favorite.price %></h6>
              </div>
            <% end %>
          </div>
        </div>
        
        <div class='favorite-buttons mb-3'>
          <div class="text-center">
            <%= link_to favorite_product_path(favorite), class: "btn favorite-button" do %>
              <span class="heart"></span><%= current_user.likes?(favorite) ? "解除" : "お気に入り" %>
            <% end %>
          </div>
          <div class="">
            <%= form_with url: cart_users_path, local: true do |f| %>
              <%= f.hidden_field :product_id, value: favorite.id %>
              <%= f.hidden_field :price, value: favorite.price %>
              <%= f.hidden_field :quantity, value: 1 %>
              <%= f.submit "カートに入れる", class: "btn favorite-add-cart" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <hr>

  </div>
</div>