<%# ダッシュボード / 商品管理 / csv一括登録画面   GET	/dashboard/products/import/csv  dashboard/products#import %>

<% if flash[:success] %><p class="alert alert-success w-75"><%= flash[:success] %></p><% end %>
<% if flash[:danger] %><p class="alert alert-danger w-75"><%= flash[:danger] %></p><% end %>

<div class="w-75">
  <h1>商品CSV登録</h1>
  
  <%= form_with model: @product, url: import_csv_dashboard_products_path, local: true do |f| %>
  <%# POST	/dashboard/products/import/csv   dashboard/products#import_csv %>
    <div class="d-flex">
        <%= f.label:file, "CSVファイルを選択", class: "btn show-favorite-button mr-3 mb-0" %>
        <%= f.file_field :file, onChange: "handleCSV(this.files)", style: "display: none;" %>
        <%# file_field : ファイル選択ボックスを生成。 onChange:ファイルが選択・変更された瞬間に javascript発火 %>
        <%= f.submit '一括登録', class: "btn submit-button" %>
    </div>
    <small id="product-import-csv-filename"></small>
  <% end %>
  
  <div class="d-flex justify-content-between mt-3">
    <h4 class="align-self-center mt-1 mb-0">CSVファイルフォーマット</h4>
    <%= link_to "雛形ファイルダウンロード", import_csv_download_dashboard_products_path, class: "btn show-favorite-button" %>
    <%# GET	/dashboard/products/import/csv_download   dashboard/products#download_csv %>
  </div>
  
  <hr>
  
  <div class='csv-text'>
    <div class='d-flex'>
      <div class='col-3'>name：</div>
      <div class='col-9 font-weight-normal'>商品名を入力</div>
    </div>
    <div class='d-flex'>
      <div class='col-3'>description：</div>
      <div class='col-9 font-weight-normal'>商品説明を入力</div>
    </div>
    <div class='d-flex'>
      <div class='col-3'>price：</div>
      <div class='col-9 font-weight-normal'>価格を入力</div>
    </div>
    <div class='d-flex'>
      <div class='col-3'>category_id：</div>
      <div class='col-9 font-weight-normal'>カテゴリのIDを入力</div>
    </div>
    <div class='d-flex'>
      <div class='col-3'>recommended_flag：</div>
      <div class='col-9 font-weight-normal'>おすすめ商品を true / false で入力</div>
    </div>
    <div class='d-flex'>
      <div class='col-3'>carriage_flag：</div>
      <div class='col-9 font-weight-normal'>送料の有無を true / false で入力</div>
    </div>
  </div>
  
  <hr>
</div>

<%= javascript_include_tag "dashboard/products/import" %>