<%# ダッシュボード/商品一覧 %>
<h1>商品管理</h1>
<%= form_with url: dashboard_products_path, method: :get, local: true, class: "form-inline" do |f| %>
  並び替え
  <% if @sorted.present? %>
    <%= f.select :sort, @sort_list, { selected: @sorted }, { onChange: "submit(this.form)", class: "form-inline ml-2 form-control" } %>
  <% else %>
    <%= f.select :sort, @sort_list, {}, { onChange: "javascript: this.form.submit();", class: "form-inline ml-2 form-control" } %>
  <% end %>
<% end %>

<div class="mt-2">
  <div class="w-75"><%# キーワード検索 %>
    <%= form_with url: dashboard_products_path, method: :get, local: true do |f| %>
      <div class="d-flex flex-inline form-group">
        <div class="d-flex align-items-center">商品ID・商品名</div>
        <%= f.text_area :keyword, class: "form-control ml-2 w-50" %>
      </div>
      <%= f.submit "検索", class: "btn submit-button" %>
    <% end %>
  </div>
  
  <div class="d-flex justify-content-between w-75 mt-4">
    <h3>合計<%= @total_count %>件</h3>
    <%= link_to "+ 新規作成", new_dashboard_product_path, class: "btn submit-button" %>
  </div>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" class="w-10">画像</th>
        <th scope="col" class="w-20">商品名</th>
        <th scope="col" class="w-10">価格</th>
        <th scope="col" class="w-20">カテゴリ名</th>
        <th scope="col" class="w-20">親カテゴリ名</th>
        <th scope="col" class="w-10"></th>
        <th scope="col" class="w-10"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <td>
            <% if product.image.attached? %>
              <%= image_tag product.image, class: "h-10 img-fluid" %>
            <% else %>
              <%= image_tag "/images/dummy.png", class: "h-10 img-fluid" %>
            <% end %>
          </td>
          <td><%= product.name %></td>
          <td><%= product.price.to_s(:delimited) %></td>
          <td><%= product.category.name %></td><%# Productモデルと Categoryモデルで関連付けがされているから categoryテーブルにカラムの情報を取得できる %>
          <td><%= product.category.major_category_name %></td>
          <td class="dashboard-edit-delete">
            <%= link_to '編集', edit_dashboard_product_path(product) %>
          </td>
          <td class="dashboard-edit-delete">
            <%= link_to '削除', dashboard_product_path(product), method: :delete, data: {confirm: "本当に削除しますか？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= paginate @products %>
</div>