<%# 注文履歴詳細  dashboard_order_path	GET	 /dashboard/orders/:id  dashboard/orders#show %>

  <div class="row">
    <div class="col-md-10">
      <h1 class="title-text mb-3">注文履歴詳細</h1>
      <hr>
      
      <div class="row cart-history-show-detail">
        <div class="col-5 mt-2 text-right">注文番号：</div>
        <div class="col-7 mt-2"><%= @cart.id %></div>  <%# @cart = ShoppingCart.find(params[:num]) %>
        
        <div class="col-5 mt-2 text-right">注文日時：</div>
        <div class="col-7 mt-2"><%= @cart.updated_at.strftime("%Y年%m月%d日 %H:%M") %></div>
        
        <div class="col-5 mt-2 text-right">商品の小計：</div>
        <div class="col-7 mt-2">￥ <%= (@cart.total - @cart.shipping_cost).fractional / 100 %></div>
        
        <div class="col-5 mt-2 text-right">送料：</div>
        <div class="col-7 mt-2">￥ <%= @cart.shipping_cost.fractional / 100 %></div>
        
        <div class="col-5 mt-2 text-right">合計金額：</div>
        <div class="col-7 mt-2">￥ <%= @cart.total.fractional / 100 %></div>
        
        <div class="col-5 mt-2 text-right">点数：</div>
        <div class="col-7 mt-2"><%= ShoppingCartItem.user_cart_items(@cart.id).count %>点</div>
        <%# ShoppingCartItem.where(owner_id: @cart.id).count %>
      </div>
      
      <hr>
      
      <div class="row">
        <% @cart_items.each do |cart_item| %>  <%# @cart_items = shoppingcartItem.where(owner_id: @cart.id) %>
          <% product = Product.find(cart_item.item_id) %>
          <div class="col-5 mt-2">
            <%= link_to product_path(product), class: "ml-4" do %>
              <% if product.image.attached? %>
                <%= image_tag product.image, class: "img-fluid w-75 rounded" %>
              <% else %>
                <%= image_tag "/images/dummy.png", class: "img-fluid w-75 rounded" %>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-7 mt-2 mb-4">
            <div class="flex-column">
              <p class="cart-history-show-text"><%= product.name %></p>
              <div class="row cart-history-show-mini-text">
                <div class="col-2 mt-2 text-right text-nowrap">数量：</div>
                <div class="col-10 mt-2">&nbsp;<%= cart_item.quantity %> 点</div>
                
                <div class="col-2 mt-2 text-right text-nowrap">小計：</div>
                <div class="col-10 mt-2">￥<%= price = cart_item.price_cents * cart_item.quantity %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <hr>
      
    </div>
  </div>