<%# 商品一覧 %>

<div class="d_flex_wrap">
  <div class="col-2 pc-only">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
    <%# インスタンス変数をローカルにしてパーシャルに渡す %>
  </div>
  
  <div class="header-category sp-only">
    <p class='sidebar-label-3 m-0'>カテゴリーで探す</p>
    <% @categories.each do |category| %>
      <%= link_to category.name, products_path(category: category.id),  class: 'btn category-button' %>
    <% end %>
  </div>
  
  <div class="col-md-9">
    <div class="container mw-100 category-container">
      <% if @category.present? %>
        <span class='pankuzu'>
          <%= link_to "トップ", root_path, class: 'item-text text-decoration-none'  %> &nbsp;>&nbsp; <%= @category.major_category_name  %> &nbsp;>&nbsp; <%= @category.name %>
        </span>
        <h2 class="title-text mt-3"><%= @category.name %>の商品一覧 <%= @products.count %> 件</h2>
        <%# 並び替え%>
        <%= form_with url: products_path, method: :get, local: true, class: "form-inline" do |f| %>
          <%= f.hidden_field :sort_category, value: @category.id %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, {selected: @sorted}, {onChange: "submit(this.form)", class: "form-inline mt-3 form-control b-form-products"} %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline mt-3 form-control b-form-products" %>
          <% end %>
        <% end %>
      <% elsif @keyword.present? %>
        <span class='pankuzu'>
          <%= link_to "トップ", root_path, class: 'item-text text-decoration-none'  %> > キーワード検索
        </span>
        <h2 class="title-text mt-2"><i class="fa fa-hashtag fa-fw"></i><%= @keyword %> の商品一覧&nbsp;&nbsp;<%= @products.count %> 件</h2>
      <% else %>
        <h2 class="title-text">商品一覧&nbsp;&nbsp;<%= @product_length.count %> 件</h2>
      <% end %>
    </div>
    
    <div class="container mw-100 mt-4 products-area">
      <div class="row">
        <% @products.each do |product|%>
        <div class="col-md-3 col-4 col-products">
          <%= link_to product_path(product) do %>
            <% if product.image.attached? %>
              <%#= image_tag product.image.variant(resize: "500x300^", gravity: "center"), class: "img-thumbnail" %>
              <%= image_tag product.image, class: "img-thumbnail" %>
            <% else %>
              <%= image_tag "/images/dummy.png", class: "img-thumbnail" %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="mt-2">
                <%= product.name %><br>
                <label>¥<%= product.price %></label>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        
      </div>
    </div>
    <%= paginate @products %>
  </div>
</div>
