<%# 商品一覧 %>

<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
    <%# 呼び出すパーシャルパスの後にハッシュで、インスタンス変数をローカル変数にしてパーシャルに渡 %>
  </div>
  
  <div class="col-9">
    <div class="container">
      <% if @category.present? %>
        <%= link_to "トップ", root_path, category: @major_category_name, class: 'item-text text-decoration-none'  %> > <%= @category.name %>
        <h2 class="title-text mt-4"><%= @category.name %>の商品一覧 <%= @products.count %> 件</h2>
        <%# 並び替え%>
        <%= form_with url: products_path, method: :get, local: true, class: "form-inline" do |f| %>
          <%= f.hidden_field :sort_category, value: @category.id %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, {selected: @sorted}, {onChange: "submit(this.form)", class: "form-inline ml-2 mt-3 form-control"} %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2 mt-3 form-control" %>
          <% end %>
        <% end %>
      <% end %>
      
      <% if @keyword.present? %>
        <h2 class="title-text mt-4"><i class="fa fa-hashtag fa-fw"></i><%= @keyword %> の商品一覧&nbsp;&nbsp;<%= @products.count %> 件</h2>
      <% end %>
    </div>
    
    <div class="container mt-4">
      <div class="row w-100">
        <% @products.each do |product|%>
        <div class="col-3">
          <%= link_to product_path(product) do %>
            <% if product.image.attached? %>
              <%= image_tag product.image.variant(resize: "500x300^", gravity: "center"), class: "img-thumbnail" %>
            <% else %>
              <%= image_tag "/images/dummy.png", class: "img-thumbnail" %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="mt-2">
                <%= product.name %><br>
                <label>¥<%= product.price %></label>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        
      </div>
    </div>
    <%= paginate @products %>
  </div>
</div>
