<!--商品一覧-->
<div class="row">
  <div class="col-9" style="background: #ddd;"> <!--グレー-->
    <div class="container mt-4">
      <div class="row w-100">
        
        <% @products.each do |product|%>
        <div class="col-3" style="background: #9dc2f2;"> <!--水色-->
          <%= link_to product_path(product) do %>
            <%= image_tag "/images/dummy.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
            <div class="col-12" style="background:#fad2fc;"> <!--ピンク-->
              <p class="samazon-product-label mt-2">
                <%= product.name %><br>
                <label>¥<%= product.price %></label>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        
      </div>
    </div>
    <%= paginate @products %>
  </div>
</div>
