<!--商品一覧-->

<div class="row">
  <!--サイドバー-->
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
    <!--呼び出すパーシャル名の後にハッシュ{キー:値の組み合わせ}を記述することで、パーシャルに変数を渡すことができる-->
  </div>
    
  <!--右側の商品一覧表示部分-->
  <div class="col-9" style="background: #ddd;"> <!--グレー-->
  
  <!--トップ > カテゴリ名　　カテゴリ名の商品一覧 ○ 件-->
    <div class="container">
      <% if @category.present? %>
        <%= link_to "トップ", "#", category: @major_category_name %> > <%= @category.name %>
        <h1><%= @category.name %>の商品一覧<%= @products.count %>件</h1>
      <% end %>
    </div>
    
    <div class="container mt-4">
      <div class="row w-100">
        <% @products.each do |product|%>
        <div class="col-3" style="background: #9dc2f2;"> <!--水色-->
          <%= link_to product_path(product) do %>
            <%= image_tag "/images/dummy.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
            <div class="col-12" style="background:#fad2fc;"> <!--ピンク-->
              <p class="samazon-product-label mt-2">
                <%= product.name %><br>
                <label>¥<%= product.price %></label>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        
      </div>
    </div>
    <%= paginate @products %>
  </div>
</div>
