<!--新規商品登録-->

<!--<table>-->
<!--<%= form_with model: @product do |f| %>-->
<!--  <tr><td><%= f.text_field :name, placeholder:'商品名' %></td></tr>-->
<!--  <tr><td><%= f.text_area :description, placeholder:'商品説明'%></td></tr>-->
<!--  <tr><td><%= f.number_field :price, placeholder:'価格' %></td></tr>-->
<!--  <tr><td>カテゴリ選択：<%= f.collection_select(:category_id,  @categories, :id, :name) %></td></tr>-->
<!--  <tr><td><%= f.submit "作成" %></td></tr>-->
<!--<% end %>-->
<!--</table>-->

<!--f.collection_select: モデルからの情報を元に選択ボックスを生成 ▶︎ 選択肢から選んでDBに送る。
◉ 構文： f.collection_select(メソッド名, オブジェクトの配列, value属性, テキスト)
◉ 第一引数 メソッド名(:category_id,): この情報をもとに、selectタグのid属性、name属性を決める (<select name="○○" id="◯◯">)
◉ 第二引数 オブジェクトの配列(@categories): 選択肢ボックスはどの配列が元になるのか (コントローラーのnewアクションに定義)
◉ 第三引数 value属性(:id): 選択された場合その値がDBに送られる。今回は:idなのでidがDBに送られる (<option value="◯◯">選択肢</option>)
◉ 第四引数 テキスト(:name): 選択ボックスに実際に表示するテキストをカラムで指定-->

<div class="container">
  <h1>新しい商品を追加</h1>

    <%= form_with model: @product do |f| %>
      <div class="form-group">
        <%= f.label "商品名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "商品説明" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "価格" %>
        <%= f.number_field :price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "カテゴリ" %>
        <%= f.select :category_id, @categories.map { |category| [category.name, category.id] }, {}, class: "form-control" %>
        
        <!--[["ビジネス", 1],["人文", 2]........]-->
      </div>

      <%= f.submit "商品を登録", class:"btn btn-success" %>
    <% end %>

    <%= link_to "商品一覧に戻る", products_path %>
</div>